{% extends 'base.html.twig' %}

{% block title %}3WVKV | Accueil{% endblock %}


{% block body %}

<div>
    <h1 class="text-center">Bienvenue sur 3WVKV</h1>
    <img class="img-fluid mt-2" src="/assets/images/banniere_canva.png" alt="Designed by pikisuperstar / Freepik</a>">
</div>


{% endblock %}
