
{{ form_start(form) }}

    <div>
        {{ form_widget(form.content, {'attr': {'class': 'form-control comment-area'}}) }}
    </div>

    <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
    </div>

{{ form_end(form) }}
