{% extends 'base.html.twig' %}

{% block title %}
    Page non trouvée
{% endblock %}

{% block body %}
    <h1 class="text-center">Vous êtes perdus ?</h1>
    <h3 class="text-center">On vous redirige vers l'accueil !</h2>

    <div class="d-flex justify-content-center container">
        <img src="/assets/images/error404.gif" alt="error 404">
    </div>

{% endblock %}