{% extends 'base.html.twig' %}

{% block title %}
    Accès interdit
{% endblock %}

{% block body %}
    <h1 class="text-center">Hep Hep Hep, on bouge plus !</h1>
    <h3 class="text-center">Mains en l'air !</h2>

    <div class="d-flex justify-content-center">
        <img class="img-fluid" src="/assets/images/acces_interdit.png" alt="error 404">
    </div>

{% endblock %}